<!-- Navigation -->
<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#">
          <strong>Navbar</strong>
        </a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto"  >
          <li class="nav-item active waves-light" [routerLinkActive] = "['active']" mdbWavesEffect>
            <a class="nav-link" [routerLink]="['/']">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive] = "['active']" mdbWavesEffect>
            <a class="nav-link"  [routerLink]="['/blog']" >Blog</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive] = "['active']" mdbWavesEffect>
            <a class="nav-link"  [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive] = "['active']" mdbWavesEffect>
            <a class="nav-link"  [routerLink]="['/contact']">Contact</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive] = "['active']" mdbWavesEffect>
            <a class="nav-link"  [routerLink]="['/destination']">Destination</a>
          </li>
        </ul>
        <!-- Social Navigation Icons -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><mdb-icon fab icon="twitter"></mdb-icon></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><mdb-icon fab icon="instagram"></mdb-icon></a>
          </li>
      </ul>
      </links>
      
    </mdb-navbar>
    <!-- Header Nav Image -->
<div class="view intro-2">
      <div class="full-bg-img">
        <div class="mask flex-center">
          <div class="container text-center">
            <h1 style=" font-size: 50px;">One Step Forward <mdb-icon fas icon="shoe-prints" size = "sm" ></mdb-icon> 
              <mdb-icon fas icon="shoe-prints" size = "sm"></mdb-icon>
              <mdb-icon fas icon="shoe-prints" size = "sm"></mdb-icon></h1>
            <h4>Never Let your memories be greater then your dreams</h4>  
          </div>
        </div>
      </div>
</div>  
</header>

<!-- Introduction about the website Start -->
<div class="welcome_to_the_site " >
  <div class="container" >
    <div class="row">
      <div class="col-md-6">
        <div class="full-bg-img" >
          <div class="thumb_1" >
            <img src="../../assets/about2.jpg" alt="About Blog" >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h1 style="font-size: 50px; font-family: serif;">Welcome to "One Step Forward...!!!"</h1>
        <h5 style="font-family:cursive; color: #252525; text-align: justify;">Hello i’m Nadine Sykora and I’m one of the top travel vloggers on YouTube who travels the 
          world and shares my experiences and travel expertise through my videos and on Instagram.</h5>
        <br>
        <h5 style="font-family:serif; color: #252525; text-align: justify;">
          My travel credentials include over 51+ countries visited, all photographed and recorded on 
          video over the last 9 years and shared to my over 463,000+ subscribers on my YouTube channel.</h5>
          <br>
          <h5 style="font-family:serif; color: #252525; text-align: justify;"> 
          Whether you’re new to travel or a seasoned globetrotter, be sure to check out my content which is full of advice, hacks, and adventures to help and inspire your next trip.
      </h5>
      <br><br>
      
      <h6><u style="color: #031750;">READ MORE</u></h6>
   
      </div>
    </div>
  </div>
</div>
<!-- Introduction about the website End -->
<br><br>
<!-- Featured From Blog Heading Start-->
<div class="featured">
      <h1>Featured Blog Post</h1>
</div>
<!-- Featured From Blog Heading End -->

<!-- Featured Blog Post Start -->

<div class="featured_blog">
  <br><br>
  <div class="container">
    <div class="row">
        <div class="col-md-4">
          <!--Card-->
          <mdb-card cascade="true" narrower="true">
      
            <!--Card image-->
            <div class="views view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--/Card image-->
      
            <mdb-card-body cascade="true" class="text-center">
              <!--Card content-->
              <h5 class="pink-text">
                <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
              <!--Title-->
              <h4 class="card-title">Cheat day inspirations</h4>
              <!--Text-->
      
              <mdb-card-text>
                Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                aperiam.
              </mdb-card-text>
      
              <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>
      
            </mdb-card-body>
            <!--/.Card content-->
      
          </mdb-card>
          <!--/.Card-->
        </div>
        <div class="col-md-4">
          <!--Card-->
          <mdb-card cascade="true" narrower="true">
      
            <!--Card image-->
            <div class="views view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--/Card image-->
      
            <mdb-card-body cascade="true" class="text-center">
              <!--Card content-->
              <h5 class="pink-text">
                <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
              <!--Title-->
              <h4 class="card-title">Cheat day inspirations</h4>
              <!--Text-->
      
              <mdb-card-text>
                Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                aperiam.
              </mdb-card-text>
      
              <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>
      
            </mdb-card-body>
            <!--/.Card content-->
      
          </mdb-card>
          <!--/.Card-->
        </div>
        <div class="col-md-4">
          <!--Card-->
          <mdb-card cascade="true" narrower="true">
      
            <!--Card image-->
            <div class="views view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--/Card image-->
      
            <mdb-card-body cascade="true" class="text-center">
              <!--Card content-->
              <h5 class="pink-text">
                <mdb-icon fas icon="utensils"></mdb-icon> Culinary</h5>
              <!--Title-->
              <h4 class="card-title">Cheat day inspirations</h4>
              <!--Text-->
      
              <mdb-card-text>
                Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                aperiam.
              </mdb-card-text>
      
              <a mdbBtn color="unique" class="waves-light" mdbWavesEffect>Button</a>
      
            </mdb-card-body>
            <!--/.Card content-->
      
          </mdb-card>
          <!--/.Card-->
        </div>
        
    </div>
  </div>
  <br><br>
</div>

<!-- Featured Blog Post End -->

<!-- Bottom details -->
<div class="bottom_details">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p>
          Join over numbers of people and get exclusive 
          travel trips, giveaways and more !
        </p>
        <form>
          <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label>Email-ID:</label>
            <input type="text" class="form-control" placeholder="Enter your email">
          </div>
          <div>
            <button mdbBtn type="button" color="primary" rounded="true" outline="true" mdbWavesEffect>SIGN UP</button>
          </div>
        </form>
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-3">
        <p>TO GO-TO <br>
        DESTINATION<br>
      FOR SOLO TRAVEL</p>
      <img src="../../assets/icon.png" style="width: 300px; height: 300px;">
    </div>
  </div>
</div>
</div>

<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <div >
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Company name</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing
          elit.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">MDBootstrap</a>
        </p>
        <p>
          <a href="#!">MDWordPress</a>
        </p>
        <p>
          <a href="#!">BrandFlow</a>
        </p>
        <p>
          <a href="#!">Bootstrap Angular</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <mdb-icon fas icon="home" class="mr-3"></mdb-icon> New York, NY 10012, US
        </p>
        <p>
          <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> info@example.com
        </p>
        <p>
          <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 01 234 567 88
        </p>
        <p>
          <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 234 567 88
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->