<!-- Navigation -->
<header class="h-100">
    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
      <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#">
          <strong>Navbar</strong>
        </a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto"  >
          <li class="nav-item active waves-light" [routerLinkActive] = "['active']" mdbWavesEffect>
            <a class="nav-link" [routerLink]="['/']">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive] = "['active']" mdbWavesEffect>
            <a class="nav-link"  [routerLink]="['/blog']" >Blog</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive] = "['active']" mdbWavesEffect>
            <a class="nav-link"  [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive] = "['active']" mdbWavesEffect>
            <a class="nav-link"  [routerLink]="['/contact']">Contact</a>
          </li>
          <li class="nav-item waves-light" [routerLinkActive] = "['active']" mdbWavesEffect>
            <a class="nav-link"  [routerLink]="['/destination']">Destination</a>
          </li>
        </ul>
        <!-- Social Navigation Icons -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><mdb-icon fab icon="twitter"></mdb-icon></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><mdb-icon fab icon="instagram"></mdb-icon></a>
          </li>
      </ul>
      </links>
      
    </mdb-navbar>
    <!-- Header Nav Image -->
     <div class="view intro-2">
      <div class="full-bg-img">
        <div class="mask flex-center">
          <div class="container text-center">
            <h1 style=" font-size: 50px;">One Step Forward <mdb-icon fas icon="shoe-prints" size = "sm" ></mdb-icon> 
              <mdb-icon fas icon="shoe-prints" size = "sm"></mdb-icon>
              <mdb-icon fas icon="shoe-prints" size = "sm"></mdb-icon></h1>
            <h4>Never Let your memories be greater then your dreams</h4>  
          </div>
        </div>
      </div>
    </div> 
</header>

<!-- Introduction about the website Start -->


<div class="welcome_to_the_site" >
  <div class="container" >
    <div class="row">
      <div class="col-md-6">
        <div class="full-bg-img" >
          <div class="thumb_1" >
            <img src="../../assets/about2.jpg" alt="About Blog" >
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h1 style="font-size: 50px; font-family: serif;">Welcome to "One Step Forward...!!!"</h1>
        <h5 style="font-family:cursive; color: #252525; text-align: justify;">Hello i’m Nadine Sykora and I’m one of the top travel vloggers on YouTube who travels the 
          world and shares my experiences and travel expertise through my videos and on Instagram.</h5>
        <br>
        <h5 style="font-family:serif; color: #252525; text-align: justify;">
          My travel credentials include over 51+ countries visited, all photographed and recorded on 
          video over the last 9 years and shared to my over 463,000+ subscribers on my YouTube channel.</h5>
          <br>
          <h5 style="font-family:serif; color: #252525; text-align: justify;"> 
          Whether you’re new to travel or a seasoned globetrotter, be sure to check out my content which is full of advice, hacks, and adventures to help and inspire your next trip.
      </h5>
      <br><br>
      
      <h6><u style="color: #031750;">READ MORE</u></h6>
   
      </div>
    </div>
  </div>
</div>
<!-- Introduction about the website End -->


 