.view {
  background: url("../../assets/desktop3.jpg") no-repeat center center;
  background-size: cover;
  height: 60vh;
}
.img {
  background: url() no-repeat center center;
  background-size: cover;
}
.logo {
  color: #000;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}
.container {
  color: #000;
  font-family: serif;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #4285f4;
}

.navbar-nav .nav-item .nav-link {
  color: #000;
  font-family: "serif";
  text-indent: 15px;
  font-size: 17.5px;
}

.intro {
  bottom: 10px;
  text-align: center;
  color: #000000;
  font-family: serif;
  font-size: 70px;
  text-transform: initial;
  margin-right: 10px;
  position: relative;
  bottom: -15px;
}
// Welcome to the OSF

.welcome_to_the_site {
  margin-top: 30px;
}
.welcome_to_the_site .thumb_1 img {
  width: 500px;
  height: 650px;
  border: 6px solid #ddcbc0;
  border-radius: 4px;
  padding: 5px;
}
@media (max-width: 767px) {
  .welcome_to_the_site .thumb_1 img {
    width: 100%;
  }
}
// Featured Blog Post
.featured {
  font-family: serif;
  margin-left: 765px;
}
.featured_blog {
  margin-top: 40px;
  background-color: #ddcbc0;
}
.bottom_details {
  margin-top: 70px;

  .nav-link {
    color: #73736f;
    font-family: lato, sans-serif;
  }
}
.bottom_details .col-md-3 {
  margin-top: 30px;
}

//"https://unsplash.com/photos/wovHP4fcrTM"#ddcbc0
